<header class="header">
	<div class="header__container _container">
		<div class="header__body">
			<a href="#" class="header__logo">
				<img src="@img/" alt="Логотип">
			</a>
			<div class="header__burger">
				<span></span>
			</div>
			<nav class="header__menu">
				<ul class="header__list">
					<li>
						<a href="#" class="header__link">Пункт 1</a>
					</li>
					<li>
						<a href="#" class="header__link">Пункт 2</a>
					</li>
					<li>
						<a href="#" class="header__link">Пункт 3</a>
					</li>
					<li>
						<a href="#" class="header__link">Пункт 4</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>