	.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;	
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 13;
}
#calculation.modal.open {
	opacity: 1;
	visibility: visible;
}

#calculation .modal__dialog {
	min-height: 100%;
	width: 100%;
	display: flex; 
	justify-content: center;
	align-items: center;
	padding: 50px 10px;
	position: relative;
}
#calculation .modal__head {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: $black;
	top: 0;
	left: 0;
	z-index: 23;
	/* transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	transition: all 0.8s ease 0.4s; */
}
@media (min-width:1000px) {
	#calculation .modal__head {
		background-color: inherit;
	}
}
#calculation .modal.open  .modal__head  {
	opacity: 1;
	transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}
#calculation .modal__close {
	position: absolute;
	color: #fff;
	right: 30px;
	top: 10px;
	display: block;
	width: 30px;
	height: 30px;
}
@media (min-width:1000px) {
	#calculation .modal__close {
		position: absolute;
		color: #fff;
		right: 30px;
		top: 20px;
		display: block;
		width: 30px;
		height: 30px;
	}
}
#calculation .modal__close span {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
#calculation .modal__close span::before, .modal__close span::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	display: inline-block;
}
#calculation .modal__close span::before {
	top: 13.5px;
	transform: rotate(45deg);
}
#calculation .modal__close span::after {
	bottom: 13.5px;
	transform: rotate(-45deg);
}
.close-modal {
}
#calculation .modal__content {
	background-color: #fff;
	color: $black;
	max-width: 1000px;
	padding: 15px 0;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	overflow: hidden;
	position: relative;
}
@media (min-width:1000px) {
	#calculation .modal__content {
		padding: 30px 0;
	}
}
#calculation .modal.open  .modal__content {
	opacity: 1;
	transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}
#calculation .form__body {
	display: flex;
	flex-direction: column;
}
#calculation .modal__header {
	padding: 10px 20px 10px;
}
@media (min-width:1000px) {
	#calculation .modal__header {
		padding: 10px 45px 20px;
	}
}
#calculation .modal__titles {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 0 0 20px;
}
#calculation .modal__titles.hidden {
	display: none;
}
#calculation .modal__title {
	flex: 0 0 85%;
	margin-right: 5px;
}
#calculation .modal__steps {
	font-weight: 500;
	flex: 0 0 15%;
	text-align: center;
}
.modal__step {
}
#calculation .modal__lasts-text {
	font-size: 18px;
	padding: 0 0 20px;
	line-height: 1.4;
	display: none;
	font-weight: 500;
	text-align: center;
}
@media(min-width:1000px) {
	#calculation .modal__lasts-text {
		font-size: 20px;
		line-height: 1.5;
		
	}
}
#calculation .modal__lasts-text.visible {
	display: block;
}
#calculation .modal__last-text {
}
#calculation .modal__progressbar {
	height: 5px;
	width: 100%;
	background-color: $secondcolor;
}
#calculation .modal__progressbar-progress {
	width: 0;
	height: 100%;
	background-color: $orange;
	transition: width 1.2s ease 0s;
}
#calculation .form__items {
	padding: 0 20px;
}
@media (min-width:1000px) {
	#calculation .form__items {
		padding: 0 45px;
	}
}

#calculation .form__item {
	display: none;
}
#calculation .form__item.active {
	display: block;

}
.form__label {
}
#calculation .form__label-title {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;
	padding: 15px 0;
}
@media (min-width:1000px) {
	#calculation .form__label-title {
		font-size: 26px;		
	}
}
#calculation .options {
	max-width: 100%;
	display: grid;
	grid-template: repeat(4, 1fr)/ 1fr;
	gap: 10px;
	padding: 0;
	transition: all 0.8s ease 0s;
}
@media (min-width:425px) {
	#calculation .options {
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	}
}
@media (min-width:592px) {
	#calculation .options {
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	}
}
@media (min-width:742px) {
	#calculation .options {
		grid-template: 1fr / repeat(4, 1fr);
	}
}
#calculation .options._error {
	padding: 10px;
	box-shadow: 0 0 15px red;
}
#calculation .options__item {
	width: 100%;
	position: relative;
	height: 200px;
}
@media (min-width:425px) {
	#calculation .options__item {
		height: auto;
	}
}
#calculation .options__item-check {
	display: none;
	position: absolute;
	top: -10px;
	left: -8px;
	width: 20px;
	height: 20px;
	background-color: $orange;
	border-radius: 50%;
	z-index: 1;
	text-align: center;
}
#calculation .options__item-check.checked {
	display: block;
}
#calculation .options__item-check img {
	max-width: 20px;
	max-height: 20px;
}
#calculation .options__label {
	width: 100%;
	position: relative;
}

#calculation .options__label img {
	height: 70%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
}
#calculation .options__text {
	text-align: left;
	font-size: 15px;
	margin: 10px 0;
	word-wrap: break-word;
}
#calculation .options__input {
	appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ---------------------body_2, body_3---------------------
#calculation .ranges {
	margin-top: 40px;
}
#calculation .range {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
#calculation .input__range {
	appearance: none;
	width: 100%;
	height: 3px;
	border-radius: 20px;
	background-color: $orange;
}
#calculation input.input__range::-webkit-slider-thumb {
	appearance: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
	z-index: 12;
}
#calculation input.input__range:focus + .selector > .selector__btn {
	box-shadow: 0px 1px 8px 1px $black;
}
#calculation .selector {
	width: 30px;
	height: 60px;
	position: absolute;
	bottom: -45%;
	left: 50%;
	transform: translate(-50%);
	z-index: 11;
}
#body_3 .selector {
	left: 54.5455%;
}
#calculation .selector__btn {
	width: 25px;
	height: 25px;
	background: rgb(254,104,41);
	background: radial-gradient(circle, rgba(254,104,41,1) 0%, rgba(254,104,41,1) 50%, rgba(254,104,41,0.2553396358543417) 100%);
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	transition: all 0.4s ease 0s;
}

#calculation .selector__value {
	min-width: 75px;
	height: 30px;
	position: absolute;
	left: -100%;
	top: 0;
	box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
	text-align: center;
	font-size: 14px;
	line-height: 2;
	padding: 0 10px;
	font-weight: 500;
}
#body_3 .selector__value {
	min-width: 30px;
	left: -10%;
}

#calculation .ranges__meanings {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	line-height: 1.55;
	font-weight: 500;
}
// ---------------------body_4---------------------
#calculation .informations {
	margin-top: 40px;
}
#calculation .informations__tel {
}
#calculation .informations__label {
	font-size: 24px;
	line-height: 1.55;
	font-weight: 400;
}
#calculation .form__input {
	display: block;
	margin: 20px 0;
	padding: 15px;
	width: 100%;
	color: $black;
	font-size: 16px;
	line-height: 1.33;
	font-weight: 500;
	border-radius: 20px;

	border-bottom: 1px solid $orange;
}
#calculation .form__input:focus {
	border: 1px solid $orange;
}
#calculation .form__input::placeholder {
	color: $orange;
	opacity: 0.7;
}
#calculation input._error {
	box-shadow: 0 0 15px red;
}
// ---------------------footer---------------------
#calculation .modal__footer {
	padding: 30px 20px 10px;
	display: flex;
	justify-content: space-between;
}
@media (min-width:1000px) {
	#calculation .modal__footer  {
		padding: 50px 45px 0;
	}
}
#modal__back, #modal__next, #form__button {
	min-width: 100px;
	padding: 15px 15px;
	font-size: 14px;
	font-weight: 700;
	color: $white;
}
@media (min-width: 1000px) {
	#modal__back, #modal__next, #form__button {
		padding: 15px 60px;
	}
}
#modal__back, #modal__next {
	position: relative;
}
#modal__back img, #modal__next img {
	position: absolute;
	display: none;
	top: 20%;
	width: 30px;
	height: 30px;
}
@media (min-width:1000px) {
	#modal__back img, #modal__next img {
		display: block;
	}
}
#modal__back img {
	left: 15%;
	transform: rotate(0.5turn);
}
#modal__next img {
	right: 15%;
}
#modal__back {
	transition: all 0.8s ease 0s;
	background-color: $secondcolor;
	opacity: .7;
}
#modal__back:active {
	opacity: 1;
}
#modal__next, #form__button {
	background-color: $light;
}
#modal__next.hidden {
	display: none;
}
#form__button {
	display: none;
}
#form__button.visible {
	display: block;
}