<!-- К ссылкам, которые открывают попап добавить class="popup-link" -->
<!-- К фиксированным объектам добавить class="lock-padding" -->


<div id="popup" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<a href="#" class="popup__close close-popup">X</a>
			<div class="popup__text">
				<a href="#popup2" class="popup-link">Попап 2</a>


				Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, enim sit pariatur labore consequatur
				exercitationem alias. Quam exercitationem eius placeat atque obcaecati minus qui vero, minima tempore
				labore, molestiae explicabo.
			</div>
		</div>
	</div>
</div>


<div id="popup2" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<a href="#" class="popup__close close-popup">X</a>
			<div class="popup__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова что выйти lorem?
				Курсивных свой залетают всеми? Которое продолжил, пор лучше жизни своих коварных рот реторический семантика
				своего до!
			</div>
		</div>
	</div>
</div>