.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

@import "../components/preview";
@media (min-width:1200px) {
	.preview {
		height: 100vh;
	}
}

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
	background-color: #f1f1f3;
}
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------

// ---------------------catalog---------------------

.catalog {
	background-color: #f1f1f3;
}
.container {
}
.catalog__text {
	max-width: 560px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 90px;
}
.catalog__title {
	font-size: 26px;
	line-height: 1.23;
	margin-bottom: 30px;
	font-weight: 600;
}
.catalog__subtitle {
	font-size: 16px;
	line-height: 20px;
}
.catalog__items {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
.catalog__item {
	flex:  0 0 100%;
	padding: 10px;
	cursor: pointer;
}
@media(min-width:568px) {
	.catalog__item {
		flex:  0 0 50%;
	}
}
@media(min-width:992px) {
	.catalog__item {
		flex:  0 0 25%;
	}	
}

.item {
}
.item__img {
	width: 100%;
	position: relative;
}
.item__img img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.item__text {
	padding: 20px 0 30px;
	
}
.item__title {
	font-size: 20px;
	font-weight: 400;
	color: $primalcolor;
}
.item__description {
	font-size: 16px;
	margin-top: 10px;
	color: $secondcolor;
}

// ---------------------/catalog---------------------


@import "../layout/repeat";