.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

// ---------------------preview---------------------

.preview {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.preview::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
.preview .container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview__title {
	color: $white;
	font-size: 40px;
	font-weight: 600;
	z-index: 2;
	text-align: center;
}
@media (min-width:768px) {
	.preview__title {
		font-size: 52px;
	} 
}
.preview__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.preview__bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

// ---------------------/preview---------------------

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
	background-color: #f1f1f3;
}
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------

// ---------------------delivery---------------------

.delivery {
	background-color: #f1f1f3;
	color: $black;
	padding: 0 0 20px;
}
@media (min-width:992px) {
	.delivery {
		padding: 30px 0 40px;
	}
}

.delivery__info {
	text-align: center;
	padding: 0 0 30px;
}
.delivery__title {
	font-size: 26px;
	line-height: 1.35;
	font-weight: 600;
	padding: 8px 0 9px;
}
.delivery__subtitle {
	font-size: 18px;
	line-height: 28px;
	padding: 22px 0 5px;
}
.delivery__subtitle span {
	font-weight: 600;
}
.delivery__subtitle.strong {
	font-weight: 600;
}
.delivery__terms {
	padding: 30px 0;
}
@media (min-width:768px) {
	.delivery__terms {
		display: flex;
	}
}

.delivery__terms-text {
	font-size: 16px;
	line-height: 1.45;
	padding: 8px 0 6px;
}
@media (min-width:992px) {
	.delivery__terms-text {
		font-size: 20px;
	}
}
@media (min-width:768px) {
	.delivery__terms-text {
		flex: 0 0 70%;
		padding-right: 20px;
	}
}
.delivery__terms_capital, .delivery__terms_capital li {
	list-style: inside;
}
@media (min-width:992px) {
	.delivery__terms_capital li {
		font-size: 20px;
	}
}
.delivery__terms_capital li {
	margin-left: 10px;
}
.delivery__terms-country {
	text-align: center;
}
@media (min-width:768px) {
	.delivery__terms-country  {
		flex: 0 0 30%;
	}
}
.delivery__terms-flag {
	width: 80px;
	height: 80px;
	margin: 10px auto;
}
.delivery__terms-flag img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.delivery__terms-name {
	padding: 5px 0;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
}
.delivery__cities {
	padding: 30px 0;
}
.cities {
	margin-bottom: 14px;
	padding: 0 10px;
}
@media (min-width:768px) {
	.delivery__cities {
		display: flex;
		justify-content: space-between;
	}
}
.cities ul, .cities li {
	list-style: inside;
}
.cities li {
	font-size: 16px;
	line-height: 1.45;
}
@media (min-width:992px) {
	.cities li {
		font-size: 20px;
	}
}
.cities__row1 {
}
.cities__row2 {
}
.cities__row3 {
}
.cities__row4 {
}
.delivery__suggest {
	padding: 30px 0;
}
.delivery__suggest-title {
	font-size: 16px;
	line-height: 1.45;
	font-weight: 700;
	margin-bottom: 30px;	
}
ul.delivery__suggest-list, ul.delivery__suggest-list li {
	list-style: inside;
}
ul.delivery__suggest-list li {
	padding: 0 0 10px 10px;
}
// ---------------------/delivery---------------------


@import "../layout/repeat";