.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column; 
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

@import "../components/preview";

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
	background-color: #f1f1f3;
}
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------

// ---------------------mounting---------------------

.mounting {
	background-color: #f1f1f3;
	padding: 0 0 30px;
}

.mounting__title {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 70px;
}
.mounting__subtitle {
	font-size: 20px;
	font-weight: 100;
	padding-bottom: 30px;
}
.mounting__types {
	padding: 30px 0;
	max-width: 760px;
	margin: 0 auto;
}
.mounting__types-title {
	text-align: center;
	font-size: 26px;
	line-height: 1.23;
	font-weight: 600;
	margin-bottom: 45px;
}
@media (min-width:768px) {
	.mounting__types-title {
		margin-bottom: 60px;
	}
}
.mounting__types-wrapper {
}
.mounting__item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.mounting__image {
	
}
.mounting__text {
	padding-left: 15px;
}
@media (min-width:768px) {
	.mounting__text {
		padding-left: 20px;
	}
}
@media (min-width:992px) {
	.mounting__text {
		padding-left: 30px;
	}
}
.mounting__text-title {
	font-size: 16px;
	line-height: 1.35;
	font-weight: 600;
	margin-bottom: 14px;
}
@media (min-width:768px) {
	.mounting__text-title {
		font-size: 18px;
	}	
}
@media (min-width:992px) {
	.mounting__text-title {
		font-size: 20px;
	}	
}
.mounting__text-text {
	font-size: 14px;
	line-height: 1.45;
}
@media (min-width:768px) {
	.mounting__text-text {
		font-size: 16px;
	}	
}
@media (min-width:992px) {
	.mounting__text-text {
		font-size: 18px;
	}	
}

// ---------------------/mounting---------------------


@import "../layout/repeat";