.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

// ---------------------preview---------------------

.preview {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.preview::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
.preview .container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview__title {
	color: $white;
	font-size: 52px;
	font-weight: 600;
	z-index: 2;
	text-align: center;
}
@media (min-width:768px) {
	.preview__title {
		text-align: left;
	} 
}
.preview__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.preview__bg img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

// ---------------------/preview---------------------

// ---------------------bait---------------------

.bait {
	background-color: $light;
	padding: 50px 0;
	text-align: center;
}
.bait__title {
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 600;

}
.col-md-6 {
	margin: 0 auto;
}
.bait__subtitle {
	font-size: 18px;
	line-height: 1.5;
}

// ---------------------/bait---------------------

// ---------------------architect---------------------

.architect {
	padding: 50px 0;
	
}
.container {
}
.row {
}
.col-12 {
}
.architect__title {
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}
.architect__info {
	align-items: center;
	flex-direction: column-reverse;
}
@media (min-width:768px) {
	.architect__info {
		align-items: center;
		flex-direction: row;
	}
}
.col-lg-6 {
}
.architect__card {
	display: flex;
	margin-bottom: 50px;
}
.architect__card-img {
	flex:  0 0 50px;
	margin-right: 20px;
	
}
.architect__card-img img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.architect__card-text {
}
.architect__card-title {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 15px;
}
.architect__card-subtitle {
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
}
.architect__img {
	width: 100%;
	margin-bottom: 20px;
}
@media (min-width:768px) {
	.architect__img {
		margin-bottom: 0;
	}
}
.architect__img img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

// ---------------------/architect---------------------

// ---------------------partners__form---------------------

.partners__form {
	padding: 50px 0;
}
.row-form {
	justify-content: center;
}
#partnersForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (min-width:1000px) {
	#partnersForm {
		flex-direction: row;
		align-items: flex-start;
	}
}
.parthners__input {
	width: 230px;
	height: 60px;
	border: 1px solid #000;
	
	text-align: center;
	padding: 0 10px;
	font-size: 16px;
	line-height: 1.33;
	margin-bottom: 20px;
}
@media (min-width:1000px) {
	.parthners__input {
		margin-right: 20px;
		margin-bottom: 0;
	}
}
.partners__form-text {
}
.parthners__button {
	color: $secondcolor;
	background-color: $light;
	height: 60px;
	width: 230px;
	padding: 0 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

// ---------------------/partners__form---------------------

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
}
/* @media (min-width:1000px) {
	.breadcumps {
	margin: 0 50px;
	}
} */
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------




@import "../layout/repeat";