.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

@import "../components/preview";
@media (min-width:1200px) {
	.preview {
		height: 100vh;
	}
}

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
	background-color: #f1f1f3;
}
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------

// ---------------------products---------------------

.products {
	background-color: #f1f1f3;
}

.produsts__text {
	text-align: center;
	margin-bottom: 45px;
}
.products__title {
	font-size: 26px;
	line-height: 1.23;
	margin-bottom: 30px;
	font-weight: 600;
	
}

.products__subtitle {
	font-size: 16px;
	line-height: 20px;
	max-width: 960px;
	margin: 0 auto;
}
.products__prompt {
	margin: 30px 0;
	background-color: $light;
	font-size: 18px;
	line-height: 1.55;
}

.products__prompt p {
	padding: 20px;
}
@media (min-width: 768px) {
	.products__prompt p{
		padding: 40px;
	}
}
@media (min-width: 992px) {
	.products__prompt p{
		padding: 60px;
	}
}
.products__items {
	padding: 75px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.products__item {
	flex: 0 0 100%;
	margin: 10px -10px;
	padding: 0 20px;
	text-align: center;
	min-height: 420px;
	/* border: 1px solid #000; */
	display: flex;
	flex-direction: column;
}
@media (min-width:568px) {
	.products__item {
		flex: 0 0 50%;
	}
}
@media (min-width:768px) {
	.products__item {
		flex: 0 0 33.333%;
	}
}
@media (min-width:992px) {
	.products__item {
		flex: 0 0 25%;
	}
}

// product
.product {
	width: 100%;
	min-height: 92px;
	display: flex;
	flex-direction: column;
}
.product__img {
	width: 100%;
}
.product__img img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
.product__text {
	flex: 0 1 50%;
	margin: 20px 0;
}
.product_title {
	font-size: 16px;
	line-height: 1.35;
	font-weight: 400;
	color: $black;
}
.product__article {
	margin-top: 8px;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 100;
	color: $black;
}
.product button {
	color: $secondcolor;
	background-color: $light;
	padding: 13px 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}
.products__item-dwg {
	align-self: center;
	color: $secondcolor;
	display: inline;
	border: 1px solid $light;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding: 13px 40px;
	margin-bottom: 8px;
}

// ---------------------/products---------------------


@import "../layout/repeat";