.main {
	flex: 1 0 100%;
}
@media (min-width:1200px) {
	.main {
		padding-left: 50px;
	}
}
// ---------------------Вне блоков---------------------

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.btn {
	text-align: center;
	font-weight: 500;
	padding: 20px;
	white-space: nowrap;
	gap: 20px;
}

a.btn_1 {
	width: auto;
	color: $black;
	background-color: $green;
	display: inline-block;
}
@media (min-width: 768px) {
	a.btn_1 {
		width: 60%;
	}
}

a.btn_2 {
	width: auto;
	border: 2px solid $pirple;
	color: #fff;
	background-color: $pirple;
	display: inline-block;
	position: relative;
}
@media (min-width: 768px) {
	a.btn_2 {
		width: 80%;
	}
}

.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	color: $black;
	line-height: 1.35em;
}

.section__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


// ---------------------/Вне блоков---------------------

@import "../components/preview";

// ---------------------breadcump__div---------------------
.breadcumps {
	padding: 20px 10px;
	background-color: #f1f1f3;
}
@import "../components/breadcrumb";

// ---------------------/breadcump__div---------------------

// ---------------------text---------------------

.text {
	background-color: #f1f1f3;
	color: $black;
}
@media (min-width:992px) {
	.text {
		padding: 30px 0 40px;
	}
}
.container {
}
.row {
}
.col-12 {
}
.text__title {
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
}
.text p {
	font-size: 20px;
	margin-bottom: 20px;
}
.text p span {
	font-weight: 500;
}
.text__list {
	margin: 20px 0;
}
.text__list ul {
	list-style-type: disc;
}
.text__list ul li {
	margin-bottom: 15px;
	margin-left: 20px;
}
// ---------------------/text---------------------


@import "../layout/repeat";