//* <МИКСИНЫ>=====================================================================================================================
@import "mixins";
//* </МИКСИНЫ>=====================================================================================================================


//* <ШРИФТЫ>======================================================================================================================
// <Подключаем шрифты>
//! &display=swap&subset=cyrillic-exit
//@import "fonts";
// </Подключаем шрифты>

// <Шрифт по умолчанию>
$fontFamily: "Formular";
// </Шрифт по умолчанию>
//* </ШРИФТЫ>=====================================================================================================================


//* <ПЕРЕМЕННЫЕ>==================================================================================================================


// Цвета
$primalcolor: #000; // 3d3b3b
$secondcolor: #414141;
$light: #fdd501; //fee100
$black: #000;
$white: #fff;
$orange: #fe6829;
// New option
$green: #38b08a;
$pirple: #493774;
$yellow: #fdd501;
// /New option
//* </ПЕРЕМЕННЫЕ>==================================================================================================================


