//* <МИКСИНЫ>=====================================================================================================================
@import "mixins";
//* </МИКСИНЫ>=====================================================================================================================


//* <ШРИФТЫ>======================================================================================================================
// <Подключаем шрифты>
//! &display=swap&subset=cyrillic-exit
//@import "fonts";
// </Подключаем шрифты>

// <Шрифт по умолчанию>
$fontFamily: "Formular";
// </Шрифт по умолчанию>
//* </ШРИФТЫ>=====================================================================================================================


//* <ПЕРЕМЕННЫЕ>==================================================================================================================


// Цвета
$primalcolor: #3d3b3b; // Основной цвет
$secondcolor: #414141;
$light: #fee100;
$black: #000;
$white: #fff;
//* </ПЕРЕМЕННЫЕ>==================================================================================================================


