.header {
	z-index: 50;
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fee100;
}

.header__body {
	position: relative;
	display: flex;
	height: 50px;
	align-items: center;
}

.header__burger {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	left: 0;
	z-index: 55;
	transition: all 0.2s ease 0s;
}

.header__burger.active {
	left: 240px;
	transition: all 0.35s ease 0.05s;
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger span {
	position: absolute;
	background-color: #000;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
	content: "";
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__menu {
	position: fixed;
	top: 0;
	left: -100%;
	max-width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	padding: 20px;
	outline: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.8s ease 0s;
}

.header__menu.active {
	left: 0;
	transition: all 0.35s ease 0s;
}

.header__menu-close {
	display: block;
	width: 30px;
	height: 20px;
	position: relative;
	float: right;
}

.header__menu-close::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	right: 0;
	transform: rotate(45deg);
	top: 9px;
	background-color: #000;
}

.header__menu-close::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	right: 0;
	transform: rotate(-45deg);
	bottom: 9px;
	background-color: #000;
}

.header__logo {
	max-width: 100%;
	margin-bottom: 20px;
}

.header__logo a.header__link {
	opacity: 1;
}

.header__logo img {
	width: 200px;
	object-fit: cover;
	object-position: center;
}

.header__list li {
	padding: 10px 0;
}

.header__link {
	color: #414141;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	opacity: 0.8;
}

body.lock {
	overflow: hidden;
}