//* <ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================
@import "abstracts/variables";
//* </ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================
@import "base/nullstyle";
body {
	color: $primalcolor;
	font-size: 18px;
	font-family: $fontFamily, sans-serif;
	font-weight: 300;
	scrollbar-width: none;
	/* background-color: $pirple; */
}
body::-webkit-scrollbar {
	display: none;
}
body._lock {
	overflow: hidden;
}
//* </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================

//* <ОБОЛОЧКА>=====================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	/* position: relative; */
}
//* </ОБОЛОЧКА>=====================================================================================================================

//* <ОСНОВНАЯ СЕТКА>=====================================================================================================================

//* </ОСНОВНАЯ СЕТКА>=====================================================================================================================
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "components/calculation";
@import "components/buttons.scss";